.about-home{
    background: url('../../assets/ren-background.svg');
    background-repeat: no-repeat;
    background-size: auto;
}
.about-row{
    display: flex;
}
.about-home label{
    margin-top: 136px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #01428C;
}
.about-home h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    margin-top: 8px;
    color: #121212;
}
.about-col-wrapper{
    margin-top: 30px;
}
.about-home-col-2{
    padding-top: 35px;
    width: 504px;
    height: 537px;
    background: rgba(244, 194, 99, 0.18);
}
.about-home-col-2 img{
    position: relative;
    right:40px;
}
.first-col{
    position: relative;
    margin-right: 39px;
}

.about-home .content{
    font-style: normal;
    width: 507px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin-top: 24px;
    color: #121212;
}
.about-mission{
    margin-top: 41px;
    padding: 32px;
    gap: 16px;
    width: 600px;
    height: 176px;
    background: #F4C263;
    border-radius: 0px;
}
.mission-title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #121212;
    margin-bottom: 0px;
}
.mission-body{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #121212;
}
.why-wrapper{
    background: url('../../assets/Ellipse2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding-top: 96px;
}
.why-wrapper h2{
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}
.why-wrapper p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    color: #121212;
}
.why-icon{
    width: 48px;
    height: 48px;
    background: #F4C263;
    border-radius: 28px;
    margin-bottom: 20px;
    padding: 12px;
}
.why-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #101828;
}
.why-content{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #667085;
}
.why-row-2{
    margin-top: 56px;
}
.why-row-1{
    margin-top: 32px;
}
.partner-wrapper{
    padding: 96px 0px;
}
.partner-wrapper h2{
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 54px;
    color: #121212;
}
/* .partner-col img{
    width: 70%;
    margin: 0px;
    padding: 0px;
    /* height: 100%; 
} */
@media screen and (max-width:1000px) {
    .about-row .second-col{
        display: none;
    }
    .slick-slider{
        margin: 0px;
    }
    
    .about-home label{
        margin-top: 50px;
    }
    .about-home h2 {
        font-style: normal;
        width: auto;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
        margin-top: 8px;
        color: #121212;
    }
    .about-home .content{
        font-style: normal;
        font-weight: 400;
        width: auto;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.01em;
        margin-top: 24px;
        color: #121212;
    }
}
@media screen and (max-width: 720px) {
    .about-mission{
        width: 100%;
        height: auto;
        padding-right: 0px;
    }
    .partners-wrapper{
        width: 85%;
        display: flex;
    }
    .about-home-col-2{
        padding-top: 35px;
        width: auto;
        height: auto;
        background: rgba(244, 194, 99, 0.18);
    }
    .about-home-col-2 img{
        width: 350px;
        height: auto;
    }
    .partner-col{
        margin-bottom: 50px;
        
    }
    .about-home h2 {
        font-style: normal;
        width: auto;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
        margin-top: 8px;
        color: #121212;
    }
    .about-home .content{
        font-style: normal;
        font-weight: 400;
        width: auto;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.01em;
        margin-top: 24px;
        color: #121212;
    }
    .about-row .second-col{
        display: none;
    }
}