.contact-wrapper{
    margin-top: -33px;
}
.contact{
    background-color: #fff;
    /* border-radius: 34px; */
    position: relative;
    padding: 79px 63px;
}

.contact-details{
    background: #002153;
    border-radius: 0px;
    padding: 82px 76px 100px 62px;
}
.chat-title{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 12px;
}
.chat-details{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: #fff;
}
.chat-details .address{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 12px;
    width: 239px;
    height: 64px;
}

.contact-form{
    padding: 32px;
    border: 0px;
}
label{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 6px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.5);
}
.form-control{
    border-radius: 0px;
}
textarea{
    resize: none;
    height: 105px;
    margin-bottom: 16px;
    border-radius: 0px;
}
input{
    height: 45.79px;
    margin-bottom: 16px;
    border-radius: 0px;
    width: auto;
}
.contact-form .btn{
    width: 100%;
    background-color: #002153;
    border-radius: 0px;
    height: 55px;
    border: 0px;
    color: #fff;
    -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.contact-form .btn:hover{
    color: #fff;
    background-color: #052663;
    transition: ease-in-out 1s;
    
}
.contact-bg{
    background: url('../../assets/contact-ellipse\ .svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding-top: 5px;
}
@media screen and (max-width: 720px) {
    .contact-wrapper{
        margin-top: -26px;
    }
    .contact{
        background-color: #fff;
        border-radius: 34px;
        position: relative;
        padding: 79px 13px;
    }
    .chat-details .address{
        width: auto;
        height: auto;
    }
    .contact-form{
        padding: 50px 5px;
        border: 0px;
    }
}